*   {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
}

body a {
    color: #EEEEEE;
    text-decoration: none;
}

.container {
    width: 100%;
}

header {
    width: 100%;
    background-color: #393E46;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-sizing: border-box;
    align-items: center;
}

.logo > a {
    margin-left: 5%;
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 5px;
    color: #FFD369;
    font-weight: bold;
    text-align: center;
}



nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav > ul > li {
    display: inline-block;
    font-size: 15px;
    padding: 5px 10px;
}

nav > ul > li:hover {
    background-color: #222831;
    border-radius: 3px;
}



.profile {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;

}


.profile > img {
    width: 65px;
    height: 65px;
    display: grid;
    justify-items: center;
}

.profile > a {
    text-transform: uppercase;
    display: grid;
    justify-content: center;
}

main {
    font-family: 'Acme', sans-serif;
    box-sizing: border-box;
    background-color: #EEEEEE;
}

.main-title {
    width: 100%;
    display: grid;
    justify-items: center;
    margin:auto;
    color: #EEEEEE;
    text-align: center;
    background-color: #222831;
    padding-bottom: 100px;
    padding-top: 100px;
}

.main-title > h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
}

.main-title > p {
    font-size: 25px;
    margin-bottom: 30px;
}

.main-title > img {
    width: 700px;
    box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;

}

.main-grub {
    text-align: center;
    padding: 100px 0;
    background-image: url(../img/woman-attending-online-class.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}

.main-grub > h2 > span {
    background-color: #FFD369;
}

.main-grub > h2 {
    color: #EEEEEE;
    font-size: 50px;
    text-shadow: -1px 1px #222831;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.main-grub > p {
    font-size: 25px;
    color: #EEEEEE;
    text-shadow: -2px 2px #222831;
}



.main-grub-lessons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    width: 50%;
    margin: auto;
    gap: 50px;
    padding-top: 50px;
}

.main-grub-lesson    {
    background-color: rgba(238, 238, 238, 0.9);
    border-radius: 10px;
    height: 200px;
    display: grid;
    box-sizing: border-box;
    justify-items: center;
    text-align: center;
    align-items: center;
    color: #222831;
    padding: 30px;
    transition: 0.5s ease all;
}

.main-grub-lesson:hover {
    box-shadow: 0 29px 41px -10px rgba(0, 0, 0, .5);
    transform: scale(1.02);
}

.main-grub-lesson > a {
    background-color: #FFD369;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: #222831;
}

.main-grub-lesson > a:hover {
    animation-name: jello-horizontal;
    animation-duration: 1s;
    animation-timing-function: easeOutSine;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}


aside {
    padding: 170px 0;
    text-align: center;
}

aside > h2 {
    font-size: 35px;
    margin-bottom: 50px;
}

aside > .rating {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 50px;
    padding: 0 100px;
    justify-content: center;

}

aside > .rating > .ratings {
    background-color: #FFD369;
    border-radius: 10px;
    box-shadow: 2px 25px 22px -12px rgba(34, 40, 49, 0.7);
    box-sizing: border-box;
    padding: 20px 50px;
}

aside >.rating > .ratings > a {
    display: inline-block;
    width: 120px;
    padding: 10px 0;
    background-color: #222831;
    margin: 25px 0;
    border-radius: 5px;
}

footer {
    border-top: 1px solid #9d9c9c;
    padding: 20px 100px;
}

.place {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 50px;
}

.place > .address {
    display: grid;
    align-items: center;
}

.place > .sosmed {
    display: grid;
    text-align: center;
    align-items: center;
}

.place > .about {
    display: grid;
    text-align: center;
    align-items: center;
}


.about > .partnership > a {
    display: inline-block;
}

.about > .partnership > a > img {
    width: 100px;
    height: 50px;
    background-position: center;
}


footer > .privacy {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-bottom: 50px;
}

footer > .privacy > a {
    color: #222831;
}


/* Animation css */
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* responsive breakpoint */
@media screen  and (max-width: 768px) {
    header {
        grid-template-areas: 
        "logo logo profil"
        "navigasi navigasi navigasi";
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        row-gap: 10px;
    }

    .logo > a {
        grid-area: logo;
        display: inline-block;
        width: 150px;
        padding: 0;
        border-radius: 5px;
        font-size: 25px;
    }
    .profile {
        width: 100%;
        grid-area: profil;
        justify-content: center;
    }

    nav {
        grid-area: navigasi;
        justify-content: space-between;
    }

    nav > ul > li {
        font-size: 12px;
    }

    main {
        box-sizing: border-box;
    }

    .main-title > p {
        font-size: 1.3em;
        padding: 10px;
    }
    .main-grub-lessons {
        justify-content: center;
    }
    aside > .rating {
        row-gap: 50px;
    }
    .place {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
    .place > .address {
        text-align: center;
    } 
    .place > .sosmed {
        row-gap: 20px;
    }
    .place > .sosmed > .sosmed-all {
        width: 60%;
        margin: auto;
    }
    footer > .privacy {
        flex-direction: column;
        margin: auto;
        text-align: center;
        row-gap: 5px;
        margin-bottom: 25px;
    }
    
}

@media screen  and (max-width: 500px)   {
    .main-title > img {
        width: 350px;
    }
}




